
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004

# CVS: $Id: simple.cfg,v 1.35 2008-01-15 01:25:42 rtv Exp $

# load the Stage plugin simulation driver

driver
 (		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "ex0.world"	
 )
 
driver
(
  name "stage"
  provides ["position2d:1" "ranger:1"]
  model "car1"
)
driver
(
  name "stage"
  provides ["position2d:2" "ranger:2"]
  model "car2"
)
driver
(
  name "stage"
  provides ["position2d:3" "ranger:3"]
  model "car3"
)
driver
(
  name "stage"
  provides ["position2d:4" "ranger:4"]
  model "car4"
)
driver
(
  name "stage"
  provides ["position2d:5" "ranger:5"]
  model "car5"
)
driver
(
  name "stage"
  provides ["position2d:6" "ranger:6"]
  model "car6"
)
driver
(
  name "stage"
  provides ["position2d:7" "ranger:7"]
  model "car7"
)
driver
(
  name "stage"
  provides ["position2d:8" "ranger:8"]
  model "car8"
)
driver
(
  name "stage"
  provides ["position2d:9" "ranger:9"]
  model "car9"
)
driver
(
  name "stage"
  provides ["position2d:10" "ranger:10"]
  model "car10"
)
driver
(
  name "stage"
  provides ["position2d:11" "ranger:11"]
  model "car11"
)
driver
(
  name "stage"
  provides ["position2d:12" "ranger:12"]
  model "car12"
)
driver
(
  name "stage"
  provides ["position2d:13" "ranger:13"]
  model "car13"
)
driver
(
  name "stage"
  provides ["position2d:14" "ranger:14"]
  model "car14"
)
driver
(
  name "stage"
  provides ["position2d:15" "ranger:15"]
  model "car15"
)
driver
(
  name "stage"
  provides ["position2d:16" "ranger:16"]
  model "car16"
)
driver
(
  name "stage"
  provides ["position2d:17" "ranger:17"]
  model "car17"
)
driver
(
  name "stage"
  provides ["position2d:18" "ranger:18"]
  model "car18"
)
driver
(
  name "stage"
  provides ["position2d:19" "ranger:19"]
  model "car19"
)
driver
(
  name "stage"
  provides ["position2d:20" "ranger:20"]
  model "car20"
)
